/* You can add global styles to this file, and also import other style files */
html {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, rgb(189 166 166 / 51%), rgb(148 149 161 / 59%));
    color: #fff
}