<div class="product-container">
    <div class="search-criteria">
        <!-- Search Criterias -->
        <div class="dropdown">
            <button class="dropbtn">{{productConstant.CATEGORY}}</button>
            <div class="dropdown-content">
                <ng-container *ngFor="let category of categories">
                    <a (click)="onCategroyClick(category)">{{category?.categoryName}}</a>
                </ng-container>
            </div>
        </div>
        <label class="p-1">
            <b>{{productConstant.CATEGORIZED_BY}}</b> {{this.selectedCategory?.categoryName}}
        </label>
        <form class="">
            <input type="search" id="searchFilter" #searchFilter name="searchText" 
            placeholder="Search Any Product" autocomplete="off"
            [(ngModel)]="searchText"
            (input)="onSearchInput(searchFilter.value)"/>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="grid-container">
        <!-- Product lists -->
        <ng-container *ngFor="let product of filteredProductList">
            <div class="grid-item">
                <div class="mr-10 prod-img">
                    <img id="prodImg-{{product.id}}" (mouseenter)="onImgFocusIn(product)" (mouseleave)="onImgFocusOut(product)"
                     src='{{ "../../../../../assets/images/" + product.displayedImage}}' alt="Product Image">
                    <div class="pl-1 prod-desc">{{product?.prodDesc}}</div>
                </div>
                <div class="prod-content">
                    <div class="prod-detail mt-5">
                        <div><b>{{product?.name}}</b></div>
                        <div>{{product?.price | currency:'INR':'symbol-narrow':'4.2-2'}}</div>
                        <div> {{product?.offer | percent}}</div>
                    </div>
                    <div class="btn-cls">
                        <button class="add-btn" (click)="onAddToCart(product)">{{productConstant.ADD_TO_CART}}</button>
                    </div>
                </div>
                
            </div>
        </ng-container>
    </div>
</div>