@import "../../scss/variables-mixin";

.product-container {
    padding: $unit;

    .grid-container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        gap: $unit;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .grid-item {
            background: linear-gradient(90deg, rgb(43 43 43), transparent);
            border: 1px solid rgba(100, 99, 99, 0.8);
            padding: 20px;
            font-size: 14px;
            box-shadow: 5px 4px 5px 0 black;
            border-radius: $unit * 0.4;
            text-align: start;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            .add-btn {
                background-color: rgb(155 61 61);
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: $unit * 0.7;
                margin: 4px 2px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s;
                /* Safari */
                transition-duration: 0.4s;
                border-radius: 1%;
            }

            .add-btn:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }

    .prod-detail {
        line-height: 2;

        .prod-offer {
            color: #fff;
            font-size: $unit * 1.5;
            font-family: cursive;
        }

        .glow{
            @include glowText()
        }

        .prod-price {
            text-decoration: line-through;
        }

        .prod-offprice {
            font-size: $unit * 2;
            font-style: italic;
            color: #000000;
            font-weight: 700;
        }
        .prod-name{
            font-size: x-large;
        }
    }

    .prod-content {
        display: grid;
        justify-content: space-between;

        .btn-cls {
            margin-top: auto;
        }
    }

    .prod-img {
        display: -webkit-inline-box;
        text-align: start;
        height: $unit * 10;
        cursor: pointer;


        .prod-desc {
            line-height: 1.7;
            font-stretch: ultra-condensed;
            font-size: medium;
            font-weight: 600;
            opacity: 0.6;
            color: #040303;
        }

        img {
            max-width: $unit * 10;
            max-height: $unit * 10;
            width: $unit * 20;
        }

        .animate-img {
            -moz-animation: spinHorizontal 2.5s linear;
            -o-animation: spinHorizontal 2.5s linear;
            -webkit-animation: spinHorizontal 2.5s linear;
            animation: spinHorizontal 2.5s linear;
        }

    }


    .no-data {
        display: block;
        font-weight: 700;
        text-align: center;
    }


    .search-criteria {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: $unit * 2;

        .category-section {
            display: flex
        }

        #searchFilter {
            width: 40vw;
        }

        .dropbtn {
            background-color: rgb(155 61 61);
            color: white;
            padding: 16px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #bcbbc7;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            cursor: pointer;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #977272;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: rgb(90, 9, 9);
        }

        form {
            color: #555;
            display: flex;
            padding: 2px;
            border: 1px solid currentColor;
            border-radius: 5px;
        }

        input[type="search"] {
            border: none;
            background: transparent;
            margin: 0;
            padding: 7px 8px;
            font-size: 14px;
            color: inherit;
            border: 1px solid transparent;
            border-radius: inherit;
        }

        input[type="search"]::placeholder {
            color: #bbb;
        }

        button[type="submit"] {
            text-indent: -999px;
            overflow: hidden;
            width: 40px;
            padding: 0;
            margin: 0;
            border: 1px solid transparent;
            border-radius: inherit;
            background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
            cursor: pointer;
            pointer-events: none;
            opacity: 0.7;
        }

        button[type="submit"]:hover {
            opacity: 1;
        }
    }

    @media(max-width: 600px) {
        .search-criteria {
            display: grid;
            justify-content: space-between;

            #searchFilter {
                width: 75vw;
            }
        }

    }
}